*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Prompt";
}
.body{
    background-color: white;
}
.logo__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #000000;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.logo__nombre{
    display: flex;
    align-items: center;
}
.nombre{
    font-size: 20px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin-right: 5px;
}
.navbar ul li{
    margin: 10px;
}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.contactame{
    background-color: yellow;
    padding: 21px;
    color: black;
}
.nava{
    color: white;
}
.link{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.clase__principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    border: #000000 1px solid;
    border-radius: 50px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.imagen-logo{
    margin: 5px;
    max-width: 56px;
    max-height: 56px;
}
.imagen__yo{
    border-radius: 200px;
}
.textos{
    align-items: center;
}
.texto__principal{
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto__adicional{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
.logo{
    width: 50px;
}
.herramientas{
    display: flex;
}
.habilidades{
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textos__yo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: #000000 1px solid;
    border-radius: 50px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.herramientas__titulo1{
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: overline;
}
.herramientas__titulo{
    margin-top: 10px;
    text-decoration: overline;
}
.herramientas__titulo2{
    margin-right: 50px;
    margin-top: 10px;
    text-decoration: overline;
}
.herramientas__texto{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
}
.herramientas__text{
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}
.herramientas__texto2{
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}
.logocss{
    width: 80px;
    border-radius: 50px;
    border: 3px solid black;
}
.redes{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.link:hover{
    background-color: black;
    color: white;
}
.imagen22{
    width: 250px;
    border: 1px solid black;
}
.btn{
    background-color: black;
    color: white;
    width: 130px;
    font-size: 15px;
    margin-top: 5px;
}
.tarjeta1{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    text-align: center;
    border: 0.5px solid black;
}
.footer__texto{
    text-align: end;
}
.titulo__proyectos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: underline;
}
.proyectos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.proyectos2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

@media (max-width: 700px ){
    .navbar ul li a{
        font-size: 18px;
    }
    .textos__yo{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .titulo__proyectos{
        text-align: center;
    }
}